.intro-page {
    display: auto;
    margin: 100px;
    padding: 200px;
    font-size: 32px;
    background: rgb(25,25,25);
    text-align: center;
  }
  html, body {
    background-color: rgb(10, 10, 10);
    color: white;
  }

.font-size {
    font-size: 16px;
    padding-top: 2%;
}

.centre-element {
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 5%;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
    font-size: 20px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }